@import '../common/index.css';

.van-info {
	position: absolute;
	top: -16upx;
	right: 0;
	min-width: 32upx;
	padding: 0 6px;
	font-family: PingFang SC, Helvetica Neue, Arial, sans-serif;
	font-size: 24upx;
	font-weight: 500;
	line-height: 28upx;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	background-color: #f44;
	border: 2upx solid #fff;
	border-radius: 32upx;
	transform: translateX(50%);
	box-sizing: border-box;
	-webkit-transform-origin: 100%;
	transform-origin: 100%
}
