.van-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis
}

/* .van-multi-ellipsis--l2 {
	-webkit-line-clamp: 2
}

.van-multi-ellipsis--l2,
.van-multi-ellipsis--l3 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical
}

.van-multi-ellipsis--l3 {
	-webkit-line-clamp: 3
}

.van-clearfix:after {
	content: "";
	display: table;
	clear: both
} */

.van-hairline,
.van-hairline--bottom,
.van-hairline--left,
.van-hairline--right,
.van-hairline--surround,
.van-hairline--top,
.van-hairline--top-bottom {
	position: relative;
	border-style: solid;
	border-color: #dee2e6;
}
.van-hairline--top {
	border-top-width: 1upx
}
.van-hairline--left {
	border-left-width: 1upx
}
.van-hairline--right {
	border-right-width: 1upx
}
.van-hairline--bottom {
	border-bottom-width: 1upx
}
.van-hairline--top-bottom {
	border-top-width: 1upx;
	border-bottom-width: 1upx;
	
}
.van-hairline--surround {
	border-width: 1upx
}
.vun-btn-hover {
	opacity: .5;
}
